<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
		
		
		<bean class = "com.zaxxer.hikari.HikariDataSource" id = "hikariDs">
			<property name="jdbcUrl" value = "jdbc:mysql://localhost:3306/finisher9.0"></property>
			<property name="driverClassName" value = "com.mysql.cj.jdbc.Driver"></property>
			<property name="username" value = "root"></property>
			<property name="password" value = "root"></property>
		</bean>
		
		<bean class = "org.springframework.jdbc.core.JdbcTemplate" id = "jdbcTemplate">
			<constructor-arg ref = "hikariDs"></constructor-arg>
		</bean>
		
		<bean class = "com.app.dao.StudentDaoImp" id = "studentDao">
			<constructor-arg ref = "jdbcTemplate"></constructor-arg>
		</bean>
		
		<bean class = "com.app.service.StudentServiceImp" id = "studentService">
			<constructor-arg ref = "studentDao"></constructor-arg>
		</bean>
		
		<bean class = "com.app.controller.StudentControllerImp" id = "studentController">
			<constructor-arg ref = "studentService"></constructor-arg>
		</bean>




</beans>