<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	
	<bean class = "java.util.Date" id = "d1">
		<property name="year" value = "100"></property>
		<property name="date" value = "9"></property>
		<property name="month" value = "2"></property>
	</bean>
	
	
	<bean class = "com.app.beans.StudentBean" id = "studentBean">
	
		<property name="date" ref = "d1"></property>
		<constructor-arg name = "name" value = "SagarSharma"></constructor-arg>
		<property name="email" value = "SagarSharmacs555@gmail.com"></property>
		
	</bean>
	
	<context:annotation-config></context:annotation-config>

</beans>