<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans https://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

	<!-- bean definitions here -->

	<bean class="com.app.beanss.CarInfo" id="carInfo" abstract="true">

		<property name="companyName" value="VolksWagen"></property>
		<property name="tyreType" value="Yokohama"></property>
	</bean>

	<bean class="com.app.beanss.CarInfo" id="carInfo2" parent="carInfo">
	
		<property name="carName" value="Polo"></property>
		<property name="price" value="10"></property>
		<property name="engineSize" value="1.2tsi"></property>

	</bean>


</beans>