<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- bean definitions here -->


	<bean class="com.app.beans.Employee" id="employee">

		<constructor-arg name = "empName" value = "SagarSharma" ></constructor-arg>
		<constructor-arg name = "id" value = "1111"></constructor-arg>
		<constructor-arg name = "salary" value = "5.0f"></constructor-arg>

	</bean>



</beans>