<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    
   <bean class="java.lang.Class" id = "c1" name = "c2,c3,c5" factory-method="forName">
   
   <constructor-arg value = "java.util.Date"></constructor-arg>
   
   </bean>

</beans>